<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMJsEYAcKIwBUajVyLlaQ1Z7xAQabZTjo</string>
	<key>GCM_SENDER_ID</key>
	<string>934901241041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.demo.gallery</string>
	<key>PROJECT_ID</key>
	<string>gallery-flutter-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>gallery-flutter-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934901241041:ios:7d98f83e5614cfa7e621f0</string>
	<key>DATABASE_URL</key>
	<string>https://gallery-flutter-dev.firebaseio.com</string>
</dict>
</plist>