name: Draft Flutter Gallery Release
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
jobs:
  create-release:
    name: Create draft release
    runs-on: ubuntu-18.04
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
    - name: Create draft release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Flutter Gallery ${{ github.ref }}
        draft: true
        prerelease: false
  build:
    name: Build application
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-10.14, windows-2019, ubuntu-18.04]
        include:
        - os: macOS-10.14
          target: macos
          desktop_path: build/macos/Build/Products/Release/
        - os: ubuntu-18.04
          target: linux
          desktop_path: build/linux/release/bundle/
        - os: windows-2019
          target: windows
          desktop_path: build/windows/release/
      # Disable fail-fast as we want results from all even if one fails.
      fail-fast: false
    needs: create-release
    steps:
    # Set up Flutter and add it to the path.
    - name: Clone Flutter repository with master channel
      uses: actions/checkout@v2
      with:
        repository: 'flutter/flutter'
        ref: 'master'
        path: 'flutter'
        fetch-depth: 0
    - name: Add Flutter to the PATH for Linux and macOS
      if: startsWith(matrix.os, 'macOS') || startsWith(matrix.os, 'ubuntu')
      run: echo "::add-path::$GITHUB_WORKSPACE/flutter/bin"
    - name: Add Flutter to the PATH for Windows
      if: startsWith(matrix.os, 'windows')
      run: echo "::add-path::${env:GITHUB_WORKSPACE}\flutter\bin"
    - name: Install Linux dependencies
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtk-3-dev libx11-dev pkg-config cmake ninja-build libblkid-dev
    - name: Enable desktop support
      run: |
        flutter config --enable-linux-desktop
        flutter config --enable-macos-desktop
        flutter config --enable-windows-desktop
    - name: Run Flutter doctor
      run: flutter doctor -v

    # Clone the Gallery repository under `code`, to avoid conflicts with `flutter`.
    - name: Clone the Gallery repository
      uses: actions/checkout@v2
      with:
        path: 'code'
    - name: Get packages for the Flutter project
      run: flutter pub get
      working-directory: code

    # Build the application for desktop.
    - name: Build project
      run: |
        flutter create .
        flutter build -v ${{ matrix.target }} --release
      working-directory: code
    - name: Compress build for Linux and macOS
      if: startsWith(matrix.os, 'macOS') || startsWith(matrix.os, 'ubuntu')
      run: zip --junk-paths flutter_gallery_${{ matrix.target }} ${{ matrix.desktop_path }}
      working-directory: code
    - name: Compress build for Windows
      if: startsWith(matrix.os, 'windows')
      shell: pwsh
      run: compress-archive -Path ${{ matrix.desktop_path }} -DestinationPath flutter_gallery_${{ matrix.target }}.zip
      working-directory: code
    - name: Upload release asset
      id: upload_release_asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.create-release.outputs.upload_url }}
        asset_path: ./code/flutter_gallery_${{ matrix.target }}.zip
        asset_name: flutter_gallery_${{ matrix.target }}.zip
        asset_content_type: application/zip